@import "tailwindcss";

@theme {
    --color-primary: #E0E0E0;
    --color-secondary: #B0B0B0;
    --color-dark-border: #444444;
    --color-dark-accent: #888888; 
}

@custom-variant dark (&:where(.dark, .dark *));